*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container2 {
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .container2 {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container2 {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container2 {
        width: 1170px;
    }
}

.row-profile {
    margin: 20px 0;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-3 {
    /*width: 100px;*/
    /*height: 300px*/
}

.col-md-9 {
    /*width: 200px;*/
}

.profile-content {
    padding: 20px;
    padding-top: 10px;
    background: #fff;
    min-height: 460px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

}

@media (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .col-md-9 {
        width: 75%;
    }
}


.profile-sidebar {
    padding: 1px 0 10px 0;
    background: #fff;
}

.profile-usertitle {
    text-align: center;
    margin-top: 10px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-usermenu {
    /*margin-top: 30px;*/
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav > li {
    position: relative;
    display: block;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}


.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 10%;
}


/* ======================= input[type=file] ============================ */


.example-2 .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    max-width: 300px;
    /*margin: auto;*/
    margin: 0 auto 15px 0;
    display: block;
    border: 2px solid #555
}

.example-2 .btn-tertiary:hover, .example-2 .btn-tertiary:focus {
    color: #888;
    border-color: #888
}

.example-2 .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.example-2 .input-file + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer
}

.example-2 .input-file + .js-labelFile .icon:before {
    content: "\f093"
}

.example-2 .input-file + .js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B
}


/* ======================= form style ============================ */


.form-style-5 {
    /*max-width: 500px;*/
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 fieldset {
    border: none;
}

.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.form-style-5 label {
    display: block;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 1.2rem;
    color: #62686d;
}

.form-style-5 strong {
    color: #6A6C75;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="password"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 20px;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="password"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
    background: #d2d9dd;
}

.form-style-5 input[type="text"]:disabled ,
.form-style-5 input[type="password"]:disabled,
.form-style-5 input[type="date"]:disabled,
.form-style-5 input[type="datetime"]:disabled,
.form-style-5 input[type="email"]:disabled,
.form-style-5 input[type="number"]:disabled,
.form-style-5 input[type="search"]:disabled,
.form-style-5 input[type="time"]:disabled,
.form-style-5 input[type="url"]:disabled,
.form-style-5 textarea:disabled,
.form-style-5 select:disabled {
    background: #d8dee4;
}

.form-style-5 select {
    -webkit-appearance: menulist-button;
    height: 35px;
}

.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    margin-bottom: 10px;
}

.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover {
    background: #109177;
}

/* ====================================================== */

/* ================== create_chat ======================= */

#createchat_form {
    max-width: 600px;
    margin: 0 auto;
}