@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    max-width: 360px;
    margin: 50px auto 0;
}

.login-form,
.register-form {
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-page input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: 0.3s;
}

.login-page input[type="submit"] {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.login-page input:hover,
.login-page input:active,
.login-page input:focus {
    background: #e5e6e4;
}

.login-page input[type="submit"]:hover,
.login-page input[type="submit"]:active,
.login-page input[type="submit"]:focus {
    background: #43A047;
}

.login-page strong {
    color: #6A6C75;
}

.login-page .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.login-page .message a {
    color: #4CAF50;
    text-decoration: none;
}

.login-page input::placeholder {
    color: #8b8b8b;
}