<!DOCTYPE html>
<html lang="en">
<head>
    <title id="title" data-title="WebChat">
        <% title = base_vars.get('title', 'Title') %>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/boat.jpg"/>
    <link rel="stylesheet" href="<%= link_for('css/styles.css') %>">
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
</head>
<body>

<header class="header">
    <button class="nav-toggle" id="nav-toggle_id">
        <i class="fas fa-bars"></i>
    </button>
    <a href="/" class="logo" data-link="ajax">WebChat</a>
    <div class="sub_headers" id="myheader">
        <nav class="header-left">
            <a href="/chat/groupchats" data-link="ajax">chats</a>
            <a href="/chat/createchat" data-link="ajax">createchat</a>
        </nav>
        <nav class="header-right" id="nav_header_right">
            <% if request.auth_is: %>
                <% user = request.auth_get_user(none='') %>
                <a class="/*active*/" href="/auth/manage/" data-link="ajax">
                    Hello <%= user.nickname %>
                </a>
                <a href="/auth/logout">LogOut</a>
            <% end %>
            <% else: %>
                <a href="/auth/register" data-link="ajax">Register</a>
                <a href="/auth/login" data-link="ajax">Login</a>
            <% end %>
        </nav>
    </div>
</header>

<main id="main_dynamic">
    <%= body %>

</main>

<script src="<%= link_for('js/config.js') %>"></script>
<script src="<%= link_for('js/MyJS.js') %>"></script>
<script src="<%= link_for('js/chat.js') %>"></script>
</body>
</html>