<% from helper import ManageNavPages %>

<% base = 'shared/auth_manage_base.html' %>
<% base_vars['title'] = 'Edit Password Manage' %>
<% base_vars['active_page'] = ManageNavPages.Pages.EDIT_PASSWORD %>

<div class="form-style-5">
    <form action="/auth/manage/edit_password" method="post">
        <fieldset>
            <legend><span class="number">1</span> Edit Password</legend>
            <input type="password" required name="old_password" placeholder="Old Password *">
            <input type="password" required name="new_password" placeholder="New Password *">
            <input type="password" required name="confirm_password" placeholder="Confirm Password *">
        </fieldset>
        <input type="submit" value="Apply"/>
    </form>
</div>
<%= message %>

