<% from helper import ManageNavPages %>

<% base = 'shared/auth_manage_base.html' %>
<% base_vars['title'] = 'Manage Index' %>
<% base_vars['active_page'] = ManageNavPages.Pages.INDEX %>

<div class="form-style-5">
    <form action="/auth/manage/change_profile" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend><span class="number">1</span> Main Info</legend>
            <label >login:</label>
            <input type="text" readonly disabled placeholder="Your Name *" value="<%= user.login %>">
            <label >nickname:</label>
            <input type="text" required name="name" placeholder="Your Name *" value="<%= user.nickname %>">
            <label >email:</label>
            <input type="email" required name="email" placeholder="Your Email *" value="<%= user.get_email() %>">
<!--            <textarea name="field3" placeholder="About yourself" style="resize: none;"></textarea>-->
<!--            <label for="job">Interests:</label>-->
<!--            <select id="job" name="field4">-->
<!--                <optgroup label="Indoors">-->
<!--                    <option value="fishkeeping">Fishkeeping</option>-->
<!--                    <option value="reading">Reading</option>-->
<!--                    <option value="boxing">Boxing</option>-->
<!--                    <option value="debate">Debate</option>-->
<!--                    <option value="gaming">Gaming</option>-->
<!--                    <option value="snooker">Snooker</option>-->
<!--                    <option value="other_indoor">Other</option>-->
<!--                </optgroup>-->
<!--                <optgroup label="Outdoors">-->
<!--                    <option value="football">Football</option>-->
<!--                    <option value="swimming">Swimming</option>-->
<!--                    <option value="fishing">Fishing</option>-->
<!--                    <option value="climbing">Climbing</option>-->
<!--                    <option value="cycling">Cycling</option>-->
<!--                    <option value="other_outdoor">Other</option>-->
<!--                </optgroup>-->
<!--            </select>-->
            <div class="example-2">
                <div class="form-group">
                    <input type="file" name="photo" id="file" class="input-file">
                    <label for="file" class="btn btn-tertiary js-labelFile">
                        <i class="icon fa fa-check"></i>
                        <span class="js-fileName">Upload image</span>
                    </label>
                </div>
            </div>
        </fieldset>
<!--        <fieldset>-->
<!--            <legend><span class="number">2</span> Additional Info</legend>-->
<!--            <textarea name="field3" placeholder="About Your School" style="resize: none;"></textarea>-->
<!--        </fieldset>-->
        <input type="submit" value="Apply"/>
    </form>
</div>