<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="static/sun.ico"/>
    <link rel="stylesheet" href="<%= link_for('css/styles.css') %>">
    <link rel="stylesheet" href="../static/css/auth.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>
    <%= body %>


    <script src="<%= link_for('js/MyJS.js') %>"></script>
</body>
</html>