<% base = 'shared/base.html' %>

<div class="login-page">
    <div class="form">
        <form class="register-form" action="/auth/register" enctype="multipart/form-data" method="post">
            <input type="text" name="username" placeholder="name"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="text" name="email" placeholder="email address"/>
            <input type="file" name="photopath" multiple accept="image/*,image/jpeg">
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" action="/auth/login" method="post">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p
        </form>
        <h2><%= message %></h2>
    </div>
</div>
<br>
<script>
    $('.message a').click(function () {
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>

