
<div class="chat-box" id="chat-box">
    <div class="chat-left-infobar">
        <div class="input-search-box">
            <form id="chat_form_users">
                <input type="text" name="text_message" placeholder="search"/>
                <input type="submit" name="button" hidden>
                <i class="fa fa-search"></i>
            </form>
        </div>
        <div class="list-users">
            <ul id="user_list">
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-online"></i>
                    <span>Andrey</span>
                </li>
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-online"></i>
                    <span>Andrey</span>
                </li>
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-offline"></i>
                    <span>Andrey</span>
                </li>
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-offline"></i>
                    <span>Andrey</span>
                </li>
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-offline"></i>
                    <span>Andrey</span>
                </li>
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-online"></i>
                    <span>Andrey</span>
                </li>
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-online"></i>
                    <span>Andrey</span>
                </li>
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-online"></i>
                    <span>Andrey</span>
                </li>
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-offline"></i>
                    <span>Andrey</span>
                </li>
                <li>
                    <img src="/static/boat.jpg" alt="avatar">
                    <i class="fas fa-circle chat-online"></i>
                    <span>Andrey</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat-main-box">
        <div class="chat-header-box" id="chat_header">
            <img src="/static/boat.jpg" alt="avatar">

            <div class="chat-about-myuser">
                <div class="chat-about-nickname">Andrey</div>
                <div class="chat-about-count-messages" id="already_messages">3 messages</div>
            </div>
            <button id="chat-nav-button">
                <i class="fas fa-bars"></i>
            </button>
            <button id="chat_selected_delete_message">
                <i class="far fa-trash-alt"></i>
            </button>
            <button id="chat_selected_edit_message">
                <i class="far fa-edit"></i>
            </button>
        </div>
        <div class="chat-history-box" id="chat_list">
            <div class="chat-message-box">
                <img src="/static/boat.jpg" alt="avatar">
                <div class="chat-message-main-box">
                    <div class="chat-message-info-box">
                        <strong>Andrey</strong>
                        <time datetime="2020-3-30 11:11:11">30 Apr 2020 11:11:11</time>
                    </div>
                    <div class="chat-message-text">Some
message
 Some
message
    Some
message
                    </div>
                </div>
            </div>
            <div class="chat-message-box chat-message-me chat_message_noreaded chat_message_select">
                <img src="/static/boat.jpg" alt="avatar">
                <div class="chat-message-main-box">
                    <div class="chat-message-info-box">
                        <strong>Andrey</strong>
                        <time datetime="2020-3-30 11:11:12">30 Apr 2020 11:11:12</time>
                    </div>
                    <div class="chat-message-text">Across the world, countries are embarking on enormous experiments in ending coronavirus lockdown measures - and others are looking on nervously, asking themselves what's the best way back to normality.
                    </div>
                </div>
            </div>
            <div class="chat-message-box chat-message-me chat_message_nosend">
                <img src="/static/boat.jpg" alt="avatar">
                <div class="chat-message-main-box">
                    <div class="chat-message-info-box">
                        <strong>Andrey</strong>
                        <time datetime="2020-3-30 11:11:13">30 Apr 2020 11:11:13</time>
                    </div>
                    <div class="chat-message-text">Some Message</div>
                </div>
            </div>
            <div class="chat-message-box chat-message-me chat_message_noreaded">
                <img src="/static/boat.jpg" alt="avatar">
                <div class="chat-message-main-box">
                    <div class="chat-message-info-box">
                        <strong>Andrey</strong>
                        <time datetime="2020-3-30 11:11:13">30 Apr 2020 11:11:13</time>
                    </div>
                    <div class="chat-message-sticker">
                        <img src="/static/stickers/1-50-128.png"></img>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-input-box">
            <form name="my_form" id="my_form">
                <div class="chat-form-main">
                    <textarea name="form_message" id="text_message" placeholder="Type your message" rows="3"></textarea>
                    <div>
                        <button id="form_button_sticker">
                            <span class="chat-sticker">
                                <i class="far fa-smile"></i>
                            </span>
                        </button>
                        <span id="form_isreading" class="span_is_writing"></span>
                        <button id="form_button"><i class="fas fa-paper-plane"></i></button>
                        <button id="chat_stop_edit_button" class="chat_stop_edit_button"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="stickers-table" id="chat_stickers_list">
                    <div class="sticker-item">
                        <img src="/static/stickers/1-50-64.png"></img>
                    </div>
                    <div class="sticker-item">
                        <img src="/static/stickers/1-50-64.png"></img>
                    </div>
                    <div class="sticker-item">
                        <img src="/static/stickers/1-50-64.png"></img>
                    </div>
                    <div class="sticker-item">
                        <img src="/static/stickers/1-50-64.png"></img>
                    </div>
                    <div class="sticker-item">
                        <img src="/static/stickers/1-50-64.png"></img>
                    </div>
                    <div class="sticker-item">
                        <img src="/static/stickers/1-50-64.png"></img>
                    </div>
                    <div class="sticker-item">
                        <img src="/static/stickers/1-50-64.png"></img>
                    </div>
                    <div class="sticker-item">
                        <img src="/static/stickers/1-50-64.png"></img>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="../static/js/chat.js"></script>
