
<div class="container2">
    <form action="/chat/createchat" method="post" id="createchat_form">
        <div class="form-style-5">
            <fieldset>
                <legend><span class="number">1</span> Create Chat</legend>
                <input type="text" required name="name" placeholder="Name">
                <select id="createchat_select" name="type">
                    <optgroup label="Type Safe">
                        <option value="PUBLIC" selected>Public</option>
                        <option value="SECURE">Secure</option>
                    </optgroup>
                </select>
                <input id="createchat_password" type="text" name="password" placeholder="Password"
                       style="display: none;">
            </fieldset>
            <input type="submit" value="Apply"/>
            <p><strong id="message_box"><%= message %></strong></p>
        </div>

    </form>
</div>