<div class="container2">
    <div class="form-style-5">
        <form action="/chat/enjoy_chat" id="enjoy_form" method="post">
            <fieldset>
                <legend><span class="number">1</span> Enjoy</legend>
                <input type="hidden" required name="chat_id" value="<%= chat.id %>">
                <% if chat.secure == models.Chat.Type.SECURE: %>
                    <input id="createchat_password" type="text" name="pass" placeholder="Password">
                <% end %>

            </fieldset>
            <input type="submit" value="Apply"/>
            <p><strong id="message_box"><%= message %></strong></p>
        </form>
    </div>
</div>
