
<div class="container2">
    <div class="list-chats-search">
        <form id="search_form_listchats">
            <input type="text" name="text_message" placeholder="search">
            <input type="submit" name="button" hidden="">
            <i class="fa fa-search"></i>
            <label for="checkbox_other">other</label><input id="checkbox_other" name="checkbox_other"
                                                            type="checkbox">

        </form>
    </div>

    <table class="list-chats-table">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>type</th>
        </tr>
        </thead>
        <tbody id="table_body">
        </tbody>
    </table>
</div>

